@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
  --header-h: 5rem;
}

@theme {
  --spacing-header: var(--header-h);
  --spacing-header-half: calc(var(--header-h) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer custamize {
  :root {
    --txt-clr: #262626; /* neutral-800 */
    --bg-clr: #f4f4f5; /* zinc-100 */
    --task-h: 20px;
  }

  @theme {
    --color-txclr: var(--txt-clr);
    --color-bgclr: var(--bg-clr);
    --spacing-task-h: var(--task-h);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --txt-clr: #f5f5f5; /* neutral-100 */
      --bg-clr: #3f3f46; /* zinc-700 */
    }
  }

  .customize__canvas {
    display: block;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .setting-table-head {
    @apply cursor-default text-[14px] select-none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .display {
    @apply relative w-full;
    height: calc(100vh - var(--task-h));
  }
  .loader {
    width: 14px;
    height: 14px;
    padding: 2px;
    border-radius: 50%;
    background: var(--txt-clr);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: load 1.5s infinite linear;
  }
  @keyframes load {
    to {
      transform: rotate(1turn);
    }
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.nv {
  height: 100vh;
}